
#words {
    margin:30px;
    max-width: 50vw;
}
#titlerating {
    height: 30px;
}
#commentfeed {
    margin:20px;
    height: 100px;
    padding: 10px;
}
#tup #tdown {
    height: 30px;
    align-content:right;
}
#titlerating {
    height: 30px;
}